/* all elements  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(52, 61, 61);
}
/* Nav bar  */
#navBar{
  background-color: rgb(52, 61, 61);
  box-shadow: 0px 2px 2px 0px rgb(245, 245, 220);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 8px 8px 0px 8px;
}
.socialLinks, .searchContainer {
  margin: 8px;
  padding: 4px;
  cursor: pointer;
}
.myForm {
  display: flex;
  gap: 3px;
}
.inputs {
  cursor: pointer;
}
/* @keyframes backwrds {
  from{width:0%}
  to{width:100%}
}
.socialLinks {
animation-name: backwards;
animation-duration: 10s;
animation-timing-function: ease-in-out;
animation-fill-mode: backwards;
animation-iteration-count: infinite;
animation-range-start: 2s;
animation-range: 2, 10s;
} */
nav {
  display: flex;
  justify-content: space-between;
  margin: 6px 1rem 0px;
  position: relative;
  overflow: hidden;
}
nav ul {
  display: flex;  
  gap: 1.1rem;
}
nav ul>li>a, nav ul>li, span, .menu a {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
}
nav ul>li>a:not(.home1):hover, nav ul>li:nth-of-type(1) {
  border-bottom: 3px solid orange;
  border-radius: 3px;
  background-color: rgb(216, 221, 221);
  color: black;
}
li a.home1 {
  color: black; 
  display: inline;}
.menu {
  display: block;
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: 8px;
  right: 1.5rem;
  margin-top: 1rem;
  width: 160px;
  height: 100%;
}
#menu {
 float: left; 
}
#showMenu {
  display: none;
}
.menu a {
  display: block;
  padding: 4px 12px;
}
.menu a:hover {
  background-color: white;
  color: black;
  margin: 0;
  text-align: center;
}
#close {
  display: none;
  position: absolute;
  top: -22px;
  right: 8px;
  color: rgb(153, 146, 146);
  font-size: 1.5rem;
}
#close:hover {
  color: red;
}

/* MY HOME  */
.home {
  background-color: rgb(219, 235, 235);
  width: 100%;
  display: flex;
  gap:2rem;
}
img {
  width: 50%;
  height: auto;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0px;
  margin-left: 6px;
}
.text-content {
  font-size: 1.2rem;
  text-align: justify;
  margin: 8px 6px 6px 0px;
}
div .myName:hover {
  cursor: pointer;
  color: rgb(140, 70, 45);
}
.btnDFlex {
  display: flex;
}
button:not(.btn), .sbmt{
  padding: 6px;
  margin: 3px;
  border: 6px solid transparent;
  border-radius: 7px;
  background-color: rgb(52, 61, 61);
}
.btn {
  padding: 0px 1rem;
  background-color: rgb(210, 213, 213);
  border-radius: 7px;
}
button a, .seeMore {
  text-decoration: none;
  color: white;
}
input.sbmt {
  background-color: rgb(105, 155, 155);
}

/* .....ABOUT and/or porfolio.....  */
 li {
  list-style-type: none;
}
.aboutContainer{
}
.aboutdisplayflex, .goalsDisplayFlex, .skillsDisplayFlex, .experienceDisplayFlex, .achievements, .letsTalk, .foot {
  display: flex;
  gap: 2rem;
  margin: 1rem;
}
.about h2, .goals h2, .portfolio h2, .contacts h2 {
  text-align: center;
  color: white;
}
.align, .myForm2 {
  text-align: justify;
  font-size: large;
  padding: 4px;
  border: 0.5px solid  rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.letsTalk, .foot {
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.foot {
  margin-bottom: 1.5rem;
}
.inputs1 {
}
input[type=text], input[type=email], input[type=submit], input[type=search],textarea{
margin: 8 0px;
padding: 8px;
font-size: 1.2rem;
font-weight: 1.2rem;
width: 100%;
border: 2px solid rgb(23, 89, 221);
border-radius: 4px;
cursor: pointer;
}
label {
  font-size: 1.5rem;
}
.call, .map {
  color: white;
}
/* ..........MEDIAQUERIES........ */
@media  (max-width:377px) and (max-width:475px) and (max-width: 500px) {
  #navBar {
    box-shadow:none;
    width: auto;
    background-color: rgb(48, 73, 117);
  }
  #nav {
    display:none;
    font-size: 1rem;
  }
  #menu {
    float: left;
    width: 100px;
    margin-left: 4px;
  }
  .home {
    width: auto;
    flex-wrap: wrap;
    gap:8px;
  }
  img {
    width: 100%;
  }
  .btnDFlex {
    flex-direction: column;
  }
  .aboutdisplayflex, .goalsDisplayFlex, .skillsDisplayFlex, .experienceDisplayFlex, .achievements, .letsTalk, .foot {
    flex-wrap: wrap;
    gap: 8px;
    margin: 4px;
  }
  label {
    font-size: unset;
  }
}