/* all elements  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  margin: ;
}
#clock {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
/* Nav bar  */
#navBar{
  background-color: rgb(52, 61, 61);
  box-shadow: 0px 2px 2px 0px rgb(245, 245, 220);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 8px 8px 0px 8px;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchContainer {
  margin: 8px;
  padding: 4px;
  cursor: pointer;
}
.myForm {
  display: flex;
  gap: 3px;
}
.inputs {
  cursor: pointer;
}
#nav {
  display: flex;
  justify-content: space-between;
  margin: 6px 1rem 0px;
  position: relative;
  overflow: hidden;
}
nav ul {
  display: flex;  
  gap: 1.1rem;
}
nav ul>li>a, nav ul>li, span, #showMenu a {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
}
nav ul>li>a:not(.home1):hover, nav ul>li:nth-of-type(1) {
  border-bottom: 3px solid orange;
  border-radius: 3px;
  background-color: rgb(216, 221, 221);
  color: black;
}
nav span {
  margin-left: 1.8rem;
}
li a.home1 {
  color: black; 
  display: inline;
}
#menu {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0;
  margin-left: 0;
  color: white;
}
#menu:hover {
  padding: 4px 8px;
  color: black;
  background-color: white;
}
#showMenu {
  display: none;
  background-color: rgb(181, 176, 176);
  height: 250px;
  width: 200px;
  padding: 18px 0px;
  margin: 0;
  text-align: justify;
  position: relative;
  position:fixed;
}
#showMenu a, .sname  {
  display: block;
}
.sname {
  color: black;
  font-size: x-large;
  font-weight: bolder;
  text-align: justify;
}
.sname:hover {
  color: rgb(206, 60, 89);
}
#showMenu a:hover {
  background-color: rgb(229, 224, 224);
  color: black;
}
#close {
  display: block;
  position: absolute;
  padding: 20px 0px 6px 0px;
  top: -22px;
  right: 1.2rem;
  color: rgb(13, 13, 13);
  font-size: 1.5rem;
}
#close:hover {
  color: red;
}

/* MY HOME  */
.home {
  background-color: rgb(219, 235, 235);
  width: 100%;
  display: flex;
  gap:2rem;
}
img {
  width: 50%;
  height: auto;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0px;
  margin-left: 6px;
}
.text-content {
  font-size: 1.2rem;
  text-align: justify;
  margin: 8px 6px 6px 0px;
}
div .myName:hover {
  cursor: pointer;
  color: rgb(140, 70, 45);
}
.btnDFlex {
  display: flex;
}
button:not(.btn), .sbmt{
  padding: 6px;
  margin: 3px;
  border: 6px solid transparent;
  border-radius: 7px;
  background-color: rgb(52, 61, 61);
}
.btn {
  padding: 0px 1rem;
  background-color: rgb(210, 213, 213);
  border-radius: 7px;
}
button a, .seeMore {
  text-decoration: none;
  color: white;
}
input.sbmt {
  background-color: rgb(105, 155, 155);
}

/* .....ABOUT and/or porfolio.....  */
 li {
  list-style-type: none;
}
.aboutContainer{
}
.aboutdisplayflex, .goalsDisplayFlex, .skillsDisplayFlex, .experienceDisplayFlex, .achievements, .letsTalk, .foot {
  display: flex;
  gap: 2rem;
  margin: 1rem;
}
.about h2, .goals h2, .portfolio h2, .contacts h2 {
  text-align: center;
  color: rgb(131, 94, 94);
}
/* Trying accordion dispaly  */
.active, .accordion {
  width: 100%;
  background-color: #e6dfdf;
  display: none;
}

.readMore {
  display: block;
  margin: 4px 8px;
}
.align, .myForm2 {
  text-align: justify;
  font-size: large;
  padding: 4px;
  border: 0.5px solid  rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.letsTalk, .foot {
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.foot {
  margin-bottom: 1.5rem;
}
.inputs1 {
}
input[type=text], input[type=email], input[type=submit], input[type=search],textarea{
margin: 8 0px;
padding: 8px;
font-size: 1.2rem;
font-weight: 1.2rem;
width: 100%;
border: 2px solid rgb(23, 89, 221);
border-radius: 4px;
cursor: pointer;
}
label {
  font-size: 1.6rem;
}
.call, .map {
  color: rgb(33, 30, 30);
}
.socialLinks {
  margin: 8px;
  padding: 4px;
  cursor: pointer;
}
.socialLinks span  {
  background-color: rgb(105, 155, 155);
  font-size: 2.5rem;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid transparent;
  border-radius: 100%;
}

/* ..........MEDIAQUERIES........ */
@media  (max-width:320px), (max-width: 600px) {
  #navBar {
    width: 100%;
    box-shadow:none;
    background-color: rgb(48, 73, 117);
    padding-bottom: 5px 5px 0px 6px;
  }
  #nav{
    display: none;
  }
  .searchContainer {
    margin-left: 2rem;
  }
  #menu {
    display: block;
  }
  .home {
    width: auto;
    flex-wrap: wrap;
    gap:8px;
  }
  #menu:hover {
    padding: auto;
    color: black;
    background-color: white;
  }
  #showMenu {
    background-color: rgb(132, 131, 131);
    height: auto;
    width: 180px;
    z-index: 1;
  }
  .sname {
    font-size: medium;
  }
  .text-content {
    font-size: 1rem;
    text-align: justify;
    margin: auto;
  }
  img {
    width: 100%;
    margin: auto;
  }
  .btnDFlex {
    flex-wrap: wrap;
  }
  .aboutdisplayflex, .goalsDisplayFlex, .skillsDisplayFlex, .experienceDisplayFlex, .achievements, .letsTalk, .foot {
    flex-wrap: wrap;
    gap: 8px;
    margin: 4px;
  }
  .myform1 {
    text-align: justify;
    font-size: large;
    padding: 2px;
    border: 0.5px solid  rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: none
  }
  label {
    font-size: unset;
  }
  .letsTalk, .foot {
    padding: auto;
  }
  .sbmt {
    width: 50%;
  }
}