/* all elements  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(52, 61, 61);
}
/* Nav bar  */
#navBar{
  background-color: rgb(52, 61, 61);
  box-shadow: 0px 2px 2px 0px rgb(245, 245, 220);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 8px 8px 0px 8px;
}
.socialLinks, .searchContainer {
  margin: 8px;
  padding: 4px;
  cursor: pointer;
}
.myForm {
  display: flex;
  gap: 3px;
}
.inputs {
  cursor: pointer;
}
/* @keyframes backwrds {
  from{width:0%}
  to{width:100%}
}
.socialLinks {
animation-name: backwards;
animation-duration: 10s;
animation-timing-function: ease-in-out;
animation-fill-mode: backwards;
animation-iteration-count: infinite;
animation-range-start: 2s;
animation-range: 2, 10s;
} */
nav {
  display: flex;
  justify-content: space-between;
  margin: 6px 1rem 0px;
  background-color: rgb(63, 68, 68);
  overflow: hidden;
}
nav ul {
  display: flex;  
  gap: 1.1rem;
}
nav ul>li>a, nav ul>li, span {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
}
nav ul>li>a:not(.home1):hover, nav ul>li:nth-of-type(1) {
  border-bottom: 3px solid orange;
  border-radius: 3px;
  background-color: rgb(216, 221, 221);
  color: black;
}

/* MY HOME  */
.home {
  background-color: rgb(219, 235, 235);
  width: 100%;
  display: flex;
  gap:2rem;
}
img {
  width: 50%;
  height: auto;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0px;
  margin-left: 6px;
}
.text-content {
  font-size: 1.2rem;
  text-align: justify;
  margin: 8px 6px 6px 0px;
}
div .myName:hover {
  cursor: pointer;
  color: rgb(140, 70, 45);
}
.btnDFlex {
  display: flex;
}
button:not(.btn) {
  padding: 6px;
  margin: 3px;
  border: 6px solid transparent;
  border-radius: 7px;
  background-color: rgb(52, 61, 61);
}
button a, .seeMore {
  text-decoration: none;
  color: white;
}

/* .....ABOUT.....  */
.aboutContainer, .aboutContainer li {
  background-color: rgb(52, 61, 61);
  list-style-type: none;
}
.aboutContainer{
 padding: 6px;
}
.aboutdisplayflex, .goalsDisplayFlex {
  display: flex;
  gap: 2rem;
  margin: 1rem;
}
.about h2, .goals h2 {
  text-align: center;
  color: white;
}
.align {
  text-align: justify;
  font-size: large;
  padding: 4px;
  border: 0.5px solid  rgb(239, 243, 243);
  border-radius: 8px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.5);
}

/* ..........PORTFOLIO........ */
.portfolio {
  background-color: rgb(52, 61, 61);
}
.skillsDisplayFlex
